name: Render KeepAlive

on:
  schedule:
    - cron: "*/5 * * * *"   # каждые 5 минут
  workflow_dispatch:        # чтобы можно было запустить вручную

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          echo "Pinging bot-u0rw.onrender.com..."
          curl -s -o /dev/null -w "%{http_code}" "https://bot-u0rw.onrender.com"
